<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="laser_joint" type="fixed">
        <parent link="chassis"/>
        <child link="laser_frame"/>
        <origin rpy="0 0 0" xyz="-0.112 0.02 0.108"/>
    </joint>

    <link name="laser_frame">
        <visual>
            <geometry>
              <cylinder length="0.056" radius="0.05"/>
            </geometry>
            <material name="green"/>
          </visual>
          <collision>
            <geometry>
              <cylinder length="0.056" radius="0.05"/>
            </geometry>
          </collision>
          <xacro:inertial_cylinder mass="0.1" length="0.056" radius="0.05">
              <origin rpy="0 0 0" xyz="0 0 0"/>
          </xacro:inertial_cylinder>
    </link>

    <gazebo reference="laser_frame">
        <material>Gazebo/Green</material>
        <sensor type="ray" name="laser">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </ray>
            <!-- <plugin name="laser_controller" filename="libgazebo_ros_laser.so">
                <ros>
                  <namespace>/</namespace>
                </ros>
                <topicName>scan</topicName>
                <frameName>laser_frame</frameName>
            </plugin> -->
            
        </sensor>
    </gazebo>
</robot>